INSTALL
install-sh
aclocal.m4
*~
configure
Makefile.in
Makefile
intltool.m4
libtool.m4
lt*.m4
build-aux
autom4te.cache
*.o
*.lo
*.la
config.log
config.guess
config.sub
config.status
.deps
.libs
libtool
ltmain.sh
depcomp
mediastreamer-config.h
mediastreamer-config.h.in
mediastreamer.pc
mediastreamer2.spec
missing
stamp-h1
*.gmo
java/bin/
java/libs/
java/gen/
libs
*.dirstamp
*.kdev4
tools/test_x11window
tools/tones

tester/mediastreamer2_tester
src/gitversion.h
help/doc/
tester/recorded_hello8000-1s.wav
tester/recorded_hello16000-1s.wav
*.vcxproj.*
tools/msaudiocmp
tester/dtmfgen_file.raw
tester/sounds/recorded_hello16000-1s.wav
tools/pcap_playback
git-clang-format.diff
tools/mkvstream
.bc_tester_utils.tmp
