INSTALL
install-sh
aclocal.m4
*~
configure
Makefile.in
Makefile
build-aux
m4
autom4te.cache
*.o
*.lo
*.la
config.log
config.guess
config.sub
config.status
.deps
.libs
libtool
ltmain.sh
depcomp
mediastreamer-config.h
mediastreamer-config.h.in
mediastreamer.pc
mediastreamer2.spec
missing
stamp-h1

